#tbdialout-menu-toolbar-button
{
  list-style-image: url("resource://tbdialout/skin/call.png");
}

#tbdialout-menu-toolbar-button[disabled="true"]
{
  list-style-image: url("resource://tbdialout/skin/call-dis.png");
}

[iconsize="small"] #tbdialout-menu-toolbar-button
{
  list-style-image: url("resource://tbdialout/skin/call-small.png");
}

[iconsize="small"] #tbdialout-menu-toolbar-button[disabled="true"]
{
  list-style-image: url("resource://tbdialout/skin/call-small-dis.png");
}

#tbdialout-home-toolbar-button
{
  list-style-image: url("resource://tbdialout/skin/homephone.png");
}

#tbdialout-home-toolbar-button[disabled="true"]
{
  list-style-image: url("resource://tbdialout/skin/homephone-dis.png");
}

[iconsize="small"] #tbdialout-home-toolbar-button
{
  list-style-image: url("resource://tbdialout/skin/homephone-small.png");
}

[iconsize="small"] #tbdialout-home-toolbar-button[disabled="true"]
{
  list-style-image: url("resource://tbdialout/skin/homephone-small-dis.png");
}

#tbdialout-work-toolbar-button
{
  list-style-image: url("resource://tbdialout/skin/officephone.png");
}

#tbdialout-work-toolbar-button[disabled="true"]
{
  list-style-image: url("resource://tbdialout/skin/officephone-dis.png");
}

[iconsize="small"] #tbdialout-work-toolbar-button
{
  list-style-image: url("resource://tbdialout/skin/officephone-small.png");
}

[iconsize="small"] #tbdialout-work-toolbar-button[disabled="true"]
{
  list-style-image: url("resource://tbdialout/skin/officephone-small-dis.png");
}

#tbdialout-cell-toolbar-button
{
  list-style-image: url("resource://tbdialout/skin/cellphone.png");
}

#tbdialout-cell-toolbar-button[disabled="true"]
{
  list-style-image: url("resource://tbdialout/skin/cellphone-dis.png");
}

[iconsize="small"] #tbdialout-cell-toolbar-button
{
  list-style-image: url("resource://tbdialout/skin/cellphone-small.png");
}

[iconsize="small"] #tbdialout-cell-toolbar-button[disabled="true"]
{
  list-style-image: url("resource://tbdialout/skin/cellphone-small-dis.png");
}

.tbdialout-phone-number-link {
  text-decoration: underline;
}